
<h1>JJ's recent rounds of golf</h1>
<h2>Welcome to my golf scores!</h2>




{% liquid
  graphql scores = 'score/search'
%}

<!-- list of items -->
<ul>
  {% for score in scores.records.results %}
    <li>
      {{ score.title }}
      <form action="/score/delete" method="post">
      <input type="hidden" name="id" value="{{ score.id }}">
      <button type="submit">Remove</button>
      </form>
    </li>
  {% endfor %}
</ul>

<!-- information shown when the list is empty -->
{% if scores.records.total_entries == 0 %}
  <div>There are no scores to show.</div>
{% endif %}

<!-- form for adding new scores -->
<div>
<form action="/score/create" method="post">
  <input type="text" name="title">
  <button type="submit" style="color:blue;">Add Score</button>
</form>
</div>





